@tailwind base;
@tailwind components;
@tailwind utilities;


.pagination {
    display: flex;
    justify-content: center;
    font-weight: 600;
}

.pagination .page-item a {
    color: #6c757d;
    cursor: pointer;
    background-color: #fff;
    border: 1px solid #dee2e6;
    padding: 0.5rem 0.75rem;
}

.pagination .page-item.active a {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.pagination .page-item.disabled {
    pointer-events: none;
    cursor: auto;
}
